* {
    margin: 0;
    padding: 0;
}
.content {
    width: 1045px;
    margin: 0 auto; 
}

div.img-container {
    padding: 5px; 
    float: left;
}

div.img-wrap {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 5px #ccc;
}
img {
    height: 500px;
    width: 500px;
}